    .dropdown-menu {
        margin-top: 0;
        background: #111;
    }
    
    .dropdown-menu .dropdown-toggle::after {
        vertical-align: middle;
        border-left: 4px solid;
        border-bottom: 4px solid transparent;
        border-top: 4px solid transparent;
    }
    
    .dropdown-menu .dropdown .dropdown-menu {
        left: 100%;
        top: 0%;
        border-width: 0;
        background: #222;
    }
    
    .dropdown-menu>li a:hover,
    .dropdown-menu>li a:focus,
    .dropdown-menu>li.show {
        background: rgba(0, 0, 0, .5);
        color: #f2f2f2;
    }
    
    .dropdown-menu>li.show>a {
        color: #f2f2f2;
    }
    
    .dropdown-menu>li>a {
        color: #f2f2f2;
    }
    
    .social-icons-container {
        display: flex;
        justify-content: center;
    }
    
    .search-icon-container {
        display: none;
    }
    
    .social-icons-container {
        display: flex;
        justify-content: center;
    }
    
    .search-icon-container {
        display: none;
    }
    
    @media (max-width: 992px) {
        .search-form-container {
            position: absolute;
            top: 10px;
            right: 20px;
        }
        .top-level {
            display: flex;
            align-items: center;
        }
        .dropdown-menu .dropdown .dropdown-menu {
            padding-left: 20px;
        }
    }
    
    @media (min-width: 992px) and (max-width: 1155px) {
        .nav-link {
            padding: 0.5rem !important;
        }
        .social-icons-container {
            margin-right: 0.5rem;
        }
        .search-form-container {
            display: none;
        }
        .search-icon-container {
            display: block;
            position: relative;
        }
        .search-icon-container input {
            width: 0px;
            padding: 0;
            border: none;
            margin-right: 40px;
            transition: width .5s ease;
        }
        .search-icon-container:hover input,
        .search-icon-container input:focus {
            display: block;
            width: 180px;
            margin-left: 0px;
            padding-left: 10px;
            border-radius: .25rem 0 0 .25rem;
        }
        button {
            position: absolute;
            right: 0;
            top: 0;
        }
        button:hover,
        .search-icon-container:hover button {
            border-radius: 0 .25rem .25rem 0 !important;
        }
    }
    
    .bg-black {
        background-color: black !important;
    }
   
    .nav-link {
        color: white !important;
        font-weight: bold !important;
        padding-right: 1em !important;
    }
